.logo {
  font-size: var(--font-size-md);
  text-decoration: none;
  color: var(--color-dark);
  font-family: var(--font-heading);
  font-weight: 700;
  transition: .2s;


  &:hover {
    color: var(--color-brand);
  }
}

.footer-logo {
  text-decoration: none;
  border: 3px dashed var(--color-aqua);
  padding: calc(var(--space) * 3);
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--color-aqua);


  &:hover {
    color: var(--color-dark);
    border: 3px dashed var(--color-dark);
  }
}
