:root {
  --font-default: "Inter", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-heading: "Inter", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: "Montserrat", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  --font-mono-bold: "Montserrat", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  --font-size-xxl: 4rem; // 64px ÷ 16px
  --font-size-xl: 3rem; // 48px ÷ 16px
  --font-size-lg: 2.5rem; // 40px ÷ 16px
  --font-size-md: 1.5rem; // 24px ÷ 16px
  --font-size-sm: 1rem; // 16px ÷ 16px
  --font-size-xs: 0.81rem; // 13px ÷ 16px
  --font-size-xxs: 0.75rem; // 12px ÷ 16px
  --font-size-base: 100%; // 16px
  --font-size-default: 1rem; // 16px
  --font-style-normal: normal;
  --font-style-italic: italic;
  --line-height-lg: 2;
  --line-height-md: 1.5;
  --line-height-sm: 1.4;
  --line-height-xs: 1.2;

  // @include breakpoint(md) {
  //   --font-size-xl: 4.5rem; // 72px ÷ 16px
  //   --font-size-lg: 3rem; // 48px ÷ 16px
  //   --font-size-md: 2.5rem; // 40px ÷ 16px
  //   --font-size-sm: 2rem; // 32px ÷ 16px
  //   --font-size-xs: 1rem; // 20px ÷ 16px
  //   --font-size-default: 1.13rem; // 18px ÷ 16px
  //   --font-size-xxs: 0.88rem; // 14px ÷ 16px

  // }
}
