.offscreen-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100vw);
  background-color: var(--color-brand);
  z-index: 5;
  transition: .2s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

.offscreen-nav.open {
  transform: translateY(0vh);
}

.offscreen-nav {
  align-items: center;
  justify-content: center;
}

.offscreen-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
}

.offscreen-nav-links li {
  list-style-type: none;
  margin-top: calc(var(--space) *4);
  margin-bottom: calc(var(--space) *1);

  a {
    color: #fff;
    text-decoration: none;
  }

}
